.image{
    border-radius: 50%;
    width: 40%;
    height: 100%;
    cursor: no-drop;
}
.top{
    margin-top: 20px;
}
.left{
   width: 100%;
   height: 80%;
}
.right{
    width: 40%;
    height: 20%;
    margin-top: 1%;
}
.introduction{
    width: 100%;
    height: 30%;
    background: rgba(16, 174, 223, 0.801);
    margin-bottom: 20px;
}
b{
    color: blue;
    cursor: pointer;
}
h1{
    color: rgb(255, 255, 255);
}
a{
    text-decoration: none;
}
b:hover{
    color:green;
}
img:hover{
    transform: scale(1.5);
    transition: all ease-in-out 1s;
}
